*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
   /*border: white solid 1px;*/
    
   
}
body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1F2937;
    
    display: flex;
    flex-direction: column;
    
    
  
    
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;

}

ul{
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
ul li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.hero-title{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}
.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px;
   
}

.below-header-logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 20px;

}
.placeholder{
    height: 200px;
    width: 400px;
    background: hwb(215 24% 57%);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav,.below-header-logo{
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
}


.hero{
    width: 400px;
}