*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    /*border: red solid 1px;*/
    
   
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #1F2937;
    
    display: flex;
    flex-direction: column;
    
    
  
    
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;

}

ul{
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
ul li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.hero-title{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 10px;

}
.hero-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button{
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 25px 8px 25px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

.below-header-logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 20px;

}
.placeholder{
    height: 200px;
    width: 400px;
    background: hwb(215 24% 57%);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav,.below-header-logo{
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
}


.hero{
    width: 400px;
    
    
}

footer{
    width: 100%;
    height: 100px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
}
.info{
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 40px;
}
.box{
    border: 3px #3882F6 solid;
    border-radius: 8px;
    height: 140px;
    width: 150px;
    margin-bottom: 12px;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

.box-text{
    display: flex;
    flex-direction: column;
    width: 155px;
    text-align: center;
    font-size: 14px;
    color: #1F2937;
}

